<ul id="repl{{comment.id}}" class="recomments">
    {% for recomment in comment.recomments.order_by(ReComment.timestamp.desc()).all() %}
    <li id=re{{comment.id}} class="recomment"  style="list-style-type:none;">
        <div class="comment-thumbnail">
            <a href="{{ url_for('.user', username=recomment.author.username) }}">
            {% if recomment.author.photo %}
                <img class="img-rounded profile-thumbnail" src="{{ recomment.author.photo}}" style="height: 40px; width: 40px">
            {% else %}
                <img class="img-rounded profile-thumbnail" src="{{ recomment.author.gravatar(size=40)}}">
            {% endif %}
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(recomment.timestamp).fromNow() }}</div>
            <div class="comment-author"><a href="{{ url_for('.user', username=recomment.author.username) }}">{{ recomment.author.username }}</a></div>
            <div class="comment-body" style="overflow-wrap: break-word;">
                {% if recomment.disabled %}
                {% if current_user == recomment.author or current_user.is_administrator() %}
                <p style="color: red"><i>系统提示：这条评论已被屏蔽,仅本人和管理员可见</i></p>
                {% if recomment.reply_type=="reply" %}
                {% if recomment.body_html %}
                回复<a href="{{ url_for('.user', username=ReComment.query.get(recomment.reply_id).author.username) }}">{{ ReComment.query.get(recomment.reply_id).author.username }}</a>：{{ recomment.body_html | safe }}
                {% else %}
                回复<a href="{{ url_for('.user', username=ReComment.query.get(recomment.reply_id).author.username) }}">{{ ReComment.query.get(recomment.reply_id).author.username }}</a>：{{ recomment.body }}
                {% endif %}
                {% else %}
                {% if recomment.body_html %}
                回复<a href="{{ url_for('.user', username=Comment.query.get(recomment.reply_id).author.username) }}">{{ Comment.query.get(recomment.reply_id).author.username }}</a>：{{ recomment.body_html | safe }}
                {% else %}
                回复<a href="{{ url_for('.user', username=Comment.query.get(recomment.reply_id).author.username) }}">{{ Comment.query.get(recomment.reply_id).author.username }}</a>：{{ recomment.body }}
                {% endif %}
                {% endif %}
                {% else %}
                <p style="color: red"><i>这条评论已被屏蔽</i></p>
                {% endif %}
                {% else %}
                {% if recomment.reply_type=="reply" %}
                {% if recomment.body_html %}
                回复<a href="{{ url_for('.user', username=ReComment.query.get(recomment.reply_id).author.username) }}">{{ ReComment.query.get(recomment.reply_id).author.username }}</a>：{{ recomment.body_html | safe }}
                {% else %}
                回复<a href="{{ url_for('.user', username=ReComment.query.get(recomment.reply_id).author.username) }}">{{ ReComment.query.get(recomment.reply_id).author.username }}</a>：{{ recomment.body_html }}
                {% endif %}
                {% else %}
                {% if recomment.body_html %}
                {{ recomment.body_html | safe }}
                {% else %}
                {{ recomment.body }}
                {% endif %}
                {% endif %}
               
                {% endif %}
                

            </div>
            <div id="recomment_bar{{recomment.id}}" style="padding-bottom: 15px ">
            
            {% if not recomment.disabled %}
            {% if current_user.can(Permission.COMMENT) %}
            <script>
                $(document).ready(function(){
                $("#reply{{ recomment.id }}").click(function(){
                $("#rawreply{{ recomment.id }}").toggle();
                $('#re{{recomment.id}}').focus().select();
                });
                });
            </script>
            <a href="javascript:void(0)" id="reply{{ recomment.id}}" style="float: right; padding-left:8px; color: black">回复</a>
            {% if current_user == recomment.author or current_user.is_administrator() %}
            <script type="text/javascript">
                $("#recomment_bar{{recomment.id}}").hover(function(){
                $("#delrecomment{{recomment.id}}").css("visibility","visible");
              },function(){
                $("#delrecomment{{recomment.id}}").css("visibility","hidden");
              });
            </script>
            <div>
            <a id="delrecomment{{recomment.id}}" href="{{ url_for('.delete_recomment', id=recomment.id) }}" style="float: right;color: #e14d4d; visibility: hidden;">删除</a>
            <div>
            {% endif %}

            <div id="rawreply{{ recomment.id}}" style="display: none;">
            <script type="text/javascript">
             var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $(function(){
                $("#tj{{ recomment.id }}").click(function(){
                    var a=$('textarea[name="r{{recomment.id}}"]').val();
                    var data={
                        data: JSON.stringify({
                            'a': a
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/reply/'+{{ recomment.id }},
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                            $('textarea[name="r{{recomment.id}}"]').val("");
                            $("#rawreply{{ recomment.id }}").toggle();

                            $.ajax({
                                url:$SCRIPT_ROOT + '/post/'+{{comment.post_id}},
                                dataType: 'html',
                                success:function(data){
                                    $("#repl{{comment.id}}").prepend('<li id="re{{comment.id}}" class="recomment"  style="list-style-type:none;">'+$(data).find('#re{{comment.id}}').html()+'</li>');
                                    
                                }
                            })
                            
                        },
                        error:function(){
                            alert('回复内容不能为空')
                            
                        }
                    })
                })
            })
            </script>

            <p>
            <textarea id="re{{recomment.id}}" style="width: 98%;border-width: 1px; border-style:solid;border-color:#e4dcdc;overflow-wrap: break-word;overflow: hidden;resize:none; height: 24px " name="r{{ recomment.id }}" onfocus="window.activeobj=this;this.clock=setInterval(function(){activeobj.style.height=activeobj.scrollHeight+'px';},200);" onblur="clearInterval(this.clock);"></textarea>
            </p>
            <button id="tj{{ recomment.id }}">回复</button>
            </div>
             
            </div>
            {% endif %}
            {% endif %}
            </div>
             
    </li>
    {% endfor %}
</ul>