{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}我的收藏{% endblock %}
{% block page_content %}
<h1>我的收藏</h1>
<ul class="posts">
    {% for post in collectposts %}
    {% if post%}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
            {% if post.author.photo %}
                <img class="img-rounded profile-thumbnail" src="{{ post.author.photo}}" style="height: 40px; width: 40px">
            {% else %}
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40)}}">
            {% endif %}
            
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
            <div class="post-body" style="">
                {% if post.body_html %}
                {{ post.body_html | safe |truncate(350, True) }}
                {% else %}
                {{ post.body | striptags |truncate(350, True)}}
                {% endif %}
            </div>
            <div class="post-footer">
            <span class="glyphicon glyphicon-tags" style="float: left; padding-right: 5px "></span>
                {% for tag in post.categorys.all() %}
                <a href="{{url_for('.tag', id=tag.id)}}" style="float: left; padding-left: 5px"><span class="label label-primary" style="background-color: #5a788e">{{tag.name}}</span></a>
                {% endfor %}
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-default hvr-radial-out" style="background: #696767">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-default hvr-radial-out" style="background: #696767">编辑【管理员】</span>
                </a>
                {% endif%}
                
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default hvr-radial-out" style="background: #696767">查看全文</span>
                </a>
                <a href="{{ url_for('.post', id=post.id)}}#comments">
                    <span class="label label-default hvr-radial-out" style="background: #696767">{{ post.comments.count()+post.recomments.count() }}评论</span>
                </a>
                <a href="{{ url_for('.thumbs_up', id=post.id)}}">
                {% if Upvote.query.filter_by(author=current_user,post=post).first() %}
                    <span class="label label-default hvr-radial-out" style="background: #696767"><span class="glyphicon glyphicon-thumbs-up" style="color:red">{{post.upvotes.count()}}</span></span>
                {% else %}
                    <span class="label label-default hvr-radial-out" style="background: #696767"><span class="glyphicon glyphicon-thumbs-up" style="">{{post.upvotes.count()}}</span></span>
                {% endif %}
                </a>
                <a href="{{ url_for('.collect', id=post.id)}}">
                {% if Collect.query.filter_by(author=current_user,post=post).first() %}
                    <span class="label label-default hvr-radial-out" style="background: #696767"><span class="glyphicon glyphicon-star"></span>取消收藏</span>
                {% else %}
                    <span class="label label-default hvr-radial-out" style="background: #696767"><span class="glyphicon glyphicon-star-empty"></span>收藏</span>
                {% endif %}
                </a>
            </div>
        </div>
    </li>
    {% endif %}
    {% endfor %}

</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.collect_posts', id=current_user.id) }}
</div>
{% endif %}
{% endblock %}


{% block right_side %}
<div class="widget">
    <h4 class="title">
    文章标签
    <br>
    </h4>
    {% for i in Category.query.all() %}
    <div><a href="{{url_for('.tag', id=i.id)}}" style="line-height: 1.8;color:#2098d1; font-weight: bolder;">{{i.name}}</a><span class="label label-default" style="float:right;">{{i.posts.count()}}</span></div>
    {% endfor %}
</div>
<div class="widget">
    <h4 class="title">
    关于网站的信息
    <br>
    </h4>
    <a href="#">关于本站</a>
</div>

<div class="widget">
    <h4 class="title">
    联系我
    <br>
    </h4>
    <p>邮箱:<a href="mailto:tcyfs@sina.com">tcyfs@sina.com</a><p>
    <p>github:<a href="https://github.com/tcyfs">tcyfs</a></p>

</div>
{% endblock %}