{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}编辑文章{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>修改文章</h1>
</div>
<div>
    <form class="form" method="POST">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.body, class="ckeditor") }}
    {{ wtf.form_field(form.tag) }}
    {{ wtf.form_field(form.customtag) }}
    {{ wtf.form_field(form.submit1) }}

    </form>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" 
  style="margin-top: 10px; margin-bottom: 10px">
  删除文章
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">确定要删除文章吗？</h4>
      </div>
      <div class="modal-footer">
      <button type="button" data-dismiss="modal">取消</button>
        <a  href="{{ url_for('.delete_post',id=id)}}"><button style="color: red">确定</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
