{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}发送私信{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="row">
        <div class="col-md-3">
        <ul class="messagecontector" style="margin-top: 100px;font-size: 20px">
{% if contectors==[] %}
<p>chat with more friends!</p>
{% endif %}
{% for contector in contectors %}
<li class="contector" style="list-style-type:none;">
<p><a href="{{ url_for('.se_message',id=contector) }}#unread{{Message.query.filter_by(sendto_id=current_user.id,author_id=contector,confirmed=False).order_by(Message.timestamp.asc()).first().id}}" style="color: #8e2210;">与{{ User.query.get(contector).username}}的聊天</a></p>
</li>
<hr>
{% endfor %}



</ul>

        </div>
         <div class="col-md-9">

<ul class="messages">
<li id="contectormessages" class="contector" style="list-style-type:none; ">
<h1 style="text-align: center;">与{{ contector.username}}的聊天</h1>
<hr>
<div id="chatcontent" class="content1 chat-block" tabindex="0" style="width: 100%;max-height: 500px" >
{% if unreadmessages==[] %}

{% for i in fmessgs %}
{% if i.author_id==contector.id %}
    {% if not i.sendto_delete %}
    <script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $(function(){
                $("#delete{{i.id}}").click(function(){
                    var data={
                        data: JSON.stringify({
                            'a': "test"
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/delete_message/'+{{i.id}},
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                        $("#{{i.id}}").remove();

                        },
                      })
                    })
                })

</script>
<div id="{{i.id}}">
            <div class="jimi_lists clearfix">
                <div class="header_img jimi3 fl" style="margin-left: 5px"><a href="{{ url_for('.user', username=i.author.username) }}">
{% if i.author.photo %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.photo }}" style="width: 50px; height: 50px; ">
{% else %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.gravatar(size=50)}}">
{% endif %}
</a></div>
                <div class="bkbubble right">
                     <p style="overflow-wrap: break-word;max-width: 400px;padding-right: 50px;background-color: #ddd ">
                     {% if i.body_html %}
                     {{ i.body_html | safe }}
                     {% else %}
                     {{ i.body }}
                     {% endif %}
                     <button id="delete{{i.id}}" class="glyphicon glyphicon-trash" style="position: relative;float:right;margin-right: -40px;
                    background-color: #ddd;border: 0;color:#ed430c"></button>
                    </p>
                </div>

            </div>
            </div>
           

    {% endif %}
{% endif %}
{% if i.sendto_id==contector.id %}
    {% if not i.author_delete %}
    <script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $(function(){
                $("#delete{{i.id}}").click(function(){
                    var data={
                        data: JSON.stringify({
                            'a': "test"
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/delete_message/'+{{i.id}},
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                        $("#{{i.id}}").remove();

                        },
                      })
                    })
                })

</script>
<div id="{{i.id}}">
<div class="customer_lists clearfix" >
                <div class="header_img jimi3 fl" style="right: 1px"><a href="{{ url_for('.user', username=i.author.username) }}">
{% if i.author.photo %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.photo }}" style="width: 50px; height: 50px; ">
{% else %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.gravatar(size=50)}}">
{% endif %}
</a></div>

                <div class="bkbubble left">
                    <div style=""><p style="max-width: 400px;overflow-wrap: break-word;padding-right: 50px;background-color: #09c54c">{% if i.body_html%}
                    {{i.body_html | safe}}{% else %}{{i.body}}{% endif %}<button id="delete{{i.id}}" class="glyphicon glyphicon-trash" style="position: absolute;margin-top: 20px;margin-left: 20px;
                    background-color: #09c54c;border: 0;color:#ed430c"></button></p>

                    
                    </div>
                </div>
                </div>
                </div>

{% endif %}
{% endif %}
{% endfor %}
<p id="unread" style="text-align: center;">---------------以上为历史消息---------------</p>
{% else %}
{% for i in fmessgs %}
<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $(function(){
                $("#delete{{i.id}}").click(function(){
                    var data={
                        data: JSON.stringify({
                            'a': "test"
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/delete_message/'+{{i.id}},
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                        $("#{{i.id}}").remove();

                        },
                      })
                    })
                })

</script>
{% if i.author_id==contector.id %}
{% if i == unreadmessages[0] %}
<p id="unread{{i.id}}" style="text-align: center;">---------------以下为未读消息---------------</p>
<div id="{{i.id}}">
            <div class="jimi_lists clearfix" style="margin-left: 5px">
                <div class="header_img jimi3 fl"><a href="{{ url_for('.user', username=i.author.username) }}">
{% if i.author.photo %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.photo }}" style="width: 50px; height: 50px; ">
{% else %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.gravatar(size=50)}}">
{% endif %}
</a></div>
                <div class="bkbubble right">
                     <p style="overflow-wrap: break-word;max-width: 400px;padding-right: 50px;background-color: #ddd ">
                     {% if i.body_html%}
                    {{i.body_html | safe}}{% else %}{{i.body}}{% endif %}<button id="delete{{i.id}}" class="glyphicon glyphicon-trash" style="position: relative;float:right;margin-right: -40px;
                    background-color: #ddd;border: 0;color:#ed430c"></button>
                    </p>
                </div>

            </div>
            </div>
{% else %}
    {% if not i.sendto_delete %}
<div id="{{i.id}}">
            <div class="jimi_lists clearfix">
                <div class="header_img jimi3 fl" style="margin-left: 5px"><a href="{{ url_for('.user', username=i.author.username) }}">
{% if i.author.photo %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.photo }}" style="width: 50px; height: 50px; ">
{% else %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.gravatar(size=50)}}">
{% endif %}
</a></div>
                <div class="bkbubble right">
                     <p style="overflow-wrap: break-word;max-width: 400px;padding-right: 50px;background-color: #ddd ">
                     {% if i.body_html%}
                    {{i.body_html | safe}}{% else %}{{i.body}}{% endif %}<button id="delete{{i.id}}" class="glyphicon glyphicon-trash" style="position: relative;float:right;margin-right: -40px;
                    background-color: #ddd;border: 0;color:#ed430c"></button>
                    </p>
                </div>

            </div>
            </div>
    {% endif %}
{% endif %}
{% endif %}
{% if i.sendto_id==contector.id %}
{% if not i.author_delete %}
<div id="{{i.id}}">
<div class="customer_lists clearfix" >
                <div class="header_img jimi3 fl" style="right: 1px"><a href="{{ url_for('.user', username=i.author.username) }}">
{% if i.author.photo %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.photo }}" style="width: 50px; height: 50px; ">
{% else %}
<img class="img-rounded profile-thumbnail" src="{{ i.author.gravatar(size=50)}}">
{% endif %}
</a></div>
                <div class="bkbubble left">
                    <div style=""><p style="max-width: 400px;overflow-wrap: break-word;padding-right: 50px;background-color: #09c54c">{% if i.body_html%}
                    {{i.body_html | safe}}{% else %}{{i.body}}{% endif %}<button id="delete{{i.id}}" class="glyphicon glyphicon-trash" style="position: absolute;margin-top: 20px;margin-left: 20px;
                    background-color: #09c54c;border: 0;color:#ed430c"></button></p>

                    
                    </div>
                </div>
                </div>
                </div>
                
    {% endif %}
{% endif %}
{% endfor %}
{% endif %}
</div>
</li>
<hr>
</ul>
<div id="contectorform" class="comment-form" style="padding-bottom:50px">

  <textarea id="body" rows="4" name="body" style="width: 98%;border:1px solid #da7f21;resize:none"></textarea>
  <script type="text/javascript">CKEDITOR.replace( 'body',{
             toolbar :
             [
                //加粗     斜体，     
                ['Bold','Italic'],
                //图片       表情       
                ['Image','Smiley','SpecialChar','PageBreak'],
             ],
             resize_enabled:false,
             height : 100,
             removePlugins :'elementspath'
        }
    );</script>
 
<button id="submit" style="margin-left: 89%;background-color: #c76d10;color: white;width: 70px;border:1px solid;margin-top: 10px">发送</button>
</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}

<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var reloadmessage = {
      url:$SCRIPT_ROOT+'/testmsg/'+{{contector.id}},
      dataType:'json',
      success :function(data1){
        if (data1.result){
          

        if ("{{contector.photo}}" != "None"){
        $('#chatcontent').append("<div id='"+data1.msgid+"'><div class='jimi_lists clearfix'><div class='header_img jimi3 fl'><a href='{{ url_for('.user', username=contector.username) }}'><img class='img-rounded profile-thumbnail' src='{{ contector.photo }}' style='width: 50px; height: 50px; '></a></div><div class='bkbubble right'><p style='overflow-wrap: break-word;max-width: 400px;padding-right: 50px;background-color: #ddd '>"+data1.result+"<button id='delete"+data1.msgid+"' class='glyphicon glyphicon-trash' style='position: relative;float:right;margin-right: -40px;background-color: #ddd;border: 0;color:#ed430c'></button></p></div></div></div>");
        $("#delete"+data1.msgid).click(function(){
                    var data={
                        data: JSON.stringify({
                            'a': "test"
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/delete_message/'+data1.msgid,
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                        $("#"+data1.msgid).remove();

                        },
                      })
                    });
      } else{
        $('#chatcontent').append("<div id='"+data1.msgid+"'><div class='jimi_lists clearfix'><div class='header_img jimi3 fl'><a href='{{ url_for('.user', username=contector.username) }}'><img class='img-rounded profile-thumbnail' src='{{ contector.gravatar(size=50) }}' style='width: 50px; height: 50px; '></a></div><div class='bkbubble right'><p style='overflow-wrap: break-word;max-width: 400px;padding-right: 50px;background-color: #ddd '>"+data1.result+"<button id='delete"+data1.msgid+"' class='glyphicon glyphicon-trash' style='position: relative;float:right;margin-right: -40px;background-color: #ddd;border: 0;color:#ed430c'></button></p></div></div></div>");
       
         $("#delete"+data1.msgid).click(function(){
                    var data={
                        data: JSON.stringify({
                            'a': "test"
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/delete_message/'+data1.msgid,
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                        $("#"+data1.msgid).remove();

                        },
                      })
                    });
      }
      window.location.hash = "#"+data1.msgid;
      };
    }
      };
window.setInterval(function(){$.ajax(reloadmessage)},1000);
</script>
<script type="text/javascript">
 var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            $(function(){
                $("#submit").click(function(){ 
                    var b=CKEDITOR.instances.body.getData()  
                    var a=$('textarea[name="body"]').val();
                    var data={
                        data: JSON.stringify({
                            'a': a,
                            'b': b
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/remsg/'+{{ contector.id }},
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data1){
                          CKEDITOR.instances.body.setData("")
                          if (data1.result){
                          if("{{current_user.photo}}" != "None"){
                            $('#chatcontent').append("<div id='"+data1.msgid+"'><div class='customer_lists clearfix'><div class='header_img jimi3 fl'><a href='{{ url_for('.user', username=current_user.username) }}'><img class='img-rounded profile-thumbnail' src='{{ current_user.photo }}' style='width: 50px; height: 50px; '></a></div><div class='bkbubble left'><div style=''><p style='max-width: 400px;overflow-wrap: break-word;padding-right: 50px;background-color: #09c54c'>"+data1.result+"<button id='delete"+data1.msgid+"' class='glyphicon glyphicon-trash' style='position: absolute;margin-top: 20px;margin-left: 20px;background-color: #09c54c;border: 0;color:#ed430c'></button></p></div></div></div></div>")
                            
                            $("#delete"+data1.msgid).click(function(){
                    var data={
                        data: JSON.stringify({
                            'a': "test"
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/delete_message/'+data1.msgid,
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                        $("#"+data1.msgid).remove();

                        },
                      })
                    });
                          } else{
                            $('#chatcontent').append("<div id='"+data1.msgid+"'><div class='customer_lists clearfix'><div class='header_img jimi3 fl'><a href='{{ url_for('.user', username=current_user.username) }}'><img class='img-rounded profile-thumbnail' src='{{ current_user.gravatar(size=50) }}' style='width: 50px; height: 50px; '></a></div><div class='bkbubble left'><div style=''><p style='max-width: 400px;overflow-wrap: break-word;padding-right: 50px;background-color: #09c54c'>"+data1.result+"<button id='delete"+data1.msgid+"' class='glyphicon glyphicon-trash' style='position: absolute;margin-top: 20px;margin-left: 20px;background-color: #09c54c;border: 0;color:#ed430c'></button></p></div></div></div></div>")
                            
                            $("#delete"+data1.msgid).click(function(){
                    var data={
                        data: JSON.stringify({
                            'a': "test"
                        }),
                    }
                    $.ajax({
                        url: $SCRIPT_ROOT + '/delete_message/'+data1.msgid,
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                        $("#"+data1.msgid).remove();

                        },
                      })
                    });
                          }
                          window.location.hash = "#"+data1.msgid;
                        }

                        },
                      })
                    })
                })
</script>


{% endblock %}